extends layout

block content
    h1= 'Mèo máy Kuro đã đến rồi'
    p Ra đây mà xem mèo máy Kuro làm đủ mọi chuyện trên trời dưới đất đây nè!
    form#send-content(action='/',method="POST" onsubmit="sendContent(event)")
        label(for="content") Content
        input#content(type="text" name="content")
        input(type="submit" value="Send")
    h3#frontendMessage
    h4#message
    script(src="js/jquery-3.4.1.min.js")
    script(src="js/index.js")


